<div class="jumbotron showcase bg-dark text-center text-white p-5 my-5">
    <div class="text">
        <h1>Welcome To Events App </h1>
        <a href="/events" class="btn btn-info btn-md"> Show Events </a>
    </div>
</div>

